<table>
  <thead>
      <tr>
          <th>Metric</th>
          <th>Value</th>
          <th>Description</th>
          <th>Id</th>
      </tr>
  </thead>
  <tbody>
      {% for metric in metrics %}
          <tr>
              <td>{{ metric.name }}</td>
              <td>{{ metric.value }}</td>
              <td>{{ metric.description }}</td>
              <td>{{ metric.id }}</td>
          </tr>
      {% endfor %}
  </tbody>
</table>
