{% extends "layout.jinja2" %}

{% block content %}
    <style type="text/css">
        a.account-link {
            position: absolute;
            left: 10px;
            top: 10px;
        }
    </style>

    <a class="account-link" href="/account">Go to Account</a>

{% endblock %}
